<div class="banner" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>Cook Book</h1>
    <h2>Save your favorite recipes</h2>
  </div>
</div>

<div class="card-trip">
  <div class="card-trip-infos">
    <div>
      <h2>List of categories</h2>
    </div>
     <%= link_to "New category", new_category_path, class: "btn btn-primary category" %>
  </div>
</div>

  <div>
    <% @categories.each do |category| %>
      <div>
        <%= link_to category_path(category) do %>
            <div>
              <%= category.name %>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
