<div>
  <h1>Cookbook</h1>
  <h2>Save your favorite recipes</h2>
</div>
<div>
  <h1>List of categories:</h1>
  <ul>
    <% @categories.each do |category| %>
    <li><%= category.name %></li>
    <% end %>
  </ul>
</div>
