<div class="banner" style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>Patisserie Book</h1>
    <h2>Save your favorite recipes of sweets</h2>
  </div>
</div>

<div class="categories-list">
  <div class="card-trip card-header">
    <div class="card-trip-infos">
      <div>
        <h2>List of categories</h2>
      </div>
      <%= link_to "New category", new_category_path, class: "btn btn-primary btn-category" %>
    </div>
  </div>

  <div class="cards">
    <% @categories.each do |category| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1612201142850-dd8e00315ece?q=80&w=2908&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
        <%= link_to category_path(category), class: "category-link" do %>
              <%= category.name %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
